.viewBTN{
    background-color: #05300e;
    color: #ffffff;
    width: 60px;
    height: 40px;
    margin:auto;
    border-radius: 7px;
    font-weight: bold;
    font-size: 14px;
    transition: ease-out 0.3s;
}
.viewBTN:hover{
    box-shadow: inset 150px 0 0 0 rgb(255, 255, 255);
    cursor: pointer;
    color: #05300e;
    border: 1px solid #05300e;
}
/* Chrome, Safari, Edge, Opera */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    appearance: none;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

.colored-toast.swal2-icon-success {
    background-color: #a5dc86 !important;
  }
  
  .colored-toast.swal2-icon-error {
    background-color: #f27474 !important;
  }
  
  .colored-toast.swal2-icon-warning {
    background-color: #f8bb86 !important;
  }
  
  .colored-toast.swal2-icon-info {
    background-color: #3fc3ee !important;
  }
  
  .colored-toast.swal2-icon-question {
    background-color: #87adbd !important;
  }
  .select2 {
  width:100%!important;
  }

  .info-header{
    border-radius: 6px;
    padding: 15px;
    background: #05300e;
    color: white;
    width: 98%;
    margin: -25px auto 10px;
    box-shadow: 0 10px 10px 0 rgb(0 0 0 / 16%), 
    0 10px 14px -1px rgb(0 0 0 / 30%), 
    0 7px 10px 0 rgb(0 0 0 / 12%);
    }
    .db-header{
      border-radius: 6px;
      padding: 15px;
      background: #ffffff;
      color: #05300e;
      width: 98%;
      margin: -25px auto 10px;
      box-shadow: 0 10px 10px 0 rgb(0 0 0 / 16%), 
      0 10px 14px -1px rgb(0 0 0 / 30%), 
      0 7px 10px 0 rgb(0 0 0 / 12%);
      }
    .swal2-popup .swal2-styled:focus {
      box-shadow: none !important;
  }
  .swal2-popup .swal2-actions:not(.swal2-loading) .swal2-styled:hover {
    background-color: #007bff !important;
    
  }
  .text-error{
    color: red;
    font-size: clamp( .75rem, 0.87vw, 1vh)
  }
  .intl-tel-input{
    width: 100%;
  }
      
  .iti {
    width: 100%;
  }

  /* Dashboard Boxes */

.circle-tile {
  margin-bottom: 15px;
  text-align: center;
}
.circle-tile-heading {
  border: 3px solid rgba(255, 255, 255, 0.3);
  border-radius: 100%;
  color: #FFFFFF;
  height: 80px;
  margin: 0 auto -40px;
  position: relative;
  transition: all 0.3s ease-in-out 0s;
  width: 80px;
}
.tile-heading {
  color: #FFFFFF;
  border-radius: 5px;
  height: 50px;
  display: flex; 
  justify-content: center; 
  align-items: center; 
  font-size: clamp( .75rem, 0.87vw, 1vh);
  background-color: #00330b;
  margin: 0 auto -30px;
  position: relative;
  transition: all 0.3s ease-in-out 0s;
  width: 80%;
  text-transform: uppercase;
  box-shadow: 0 10px 10px 0 rgba(77, 77, 77, 0.16), 
  0 10px 14px -1px rgba(65, 65, 65, 0.3), 
  0 7px 10px 0 rgba(83, 83, 83, 0.12);
}
.tile-content {
  padding-top: 40px;
  padding-bottom: 20px;
  border-radius: 5px;
  background-color: #cecece;
  box-shadow: 0 10px 10px 0 rgb(0 0 0 / 16%), 
  0 10px 14px -1px rgb(0 0 0 / 30%), 
  0 7px 10px 0 rgb(0 0 0 / 12%);
}
.tile-description {
  font-style: italic;
  font-size: clamp( 1rem, 0.87vw, 1vh);
  color: #05300e;
}
.db-icon img{
  width: 60px !important;
}

